.guide_line {
    width: 150px;
    height: 40px;
    background-color: rgba(255, 251, 147, 0.8);
    text-align: center;
    line-height: 40px;

}
.guide_line a {
    color: #062c33;
}


.guide {
    background-color: rgba(255, 251, 147, 0.81);
    width:200px;
    height: auto;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#divOfGuide{
    display: flex;
    justify-content: center;
}


.contentOfDaily {
    background-color: rgba(208, 211, 159, 0.31);
    left:215px;
    height: 500px;
    right: 7px;
    position: fixed;

}

#divOfDaily {
    display: flex;
    flex-wrap: wrap;
}

.DailyMenuWord {
    color: #062c33;
}

.HomepageContent {
    width: 800px;
    height: auto;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    text-justify: auto;

}

.picRolling{
    width:800px;
    height: auto;
}

.designOfFooter {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 251, 147, 0.8);
    bottom: 0;
    position: fixed;
    color: #062c33;
}

#footerDiv{
    display: flex;
    justify-content: center;
}