div{
    width: 100px;
    height: 30px;
    background-color: #9fcdff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 30px;
}